SOURCE_USER= #source ES user
SOURCE_PSSWD= #source ES password
SOURCE_ENDPOINT= #source ES REST API endpoint
SOURCE_INDEX= #source ES index to backup
TARGET_USER= #target ES user
TARGET_PSSWD= #target ES password
TARGET_ENDPOINT= #target ES REST API endpoint
TARGET_INDEX= #target ES index where to dump the backup
#mode: "remote-local"---->backup data from remote ES API to local ES endpoint.
#mode: "remote-local"---->backup data from remote from local ES endpoint to remote ES API.
MODE=remote-local